@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #0d192b;
  color: #8bacda;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #00fff7;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.card {
  background-color: #14253d;
  max-height: auto;
  max-width: 345px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.cover {
  position: relative;
  background-image: url(images/image-equilibrium.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  width: auto;
  max-width: 300px;
  height: 300px;
  margin: 25px auto 0 auto;
  cursor: pointer;
}

.cover:hover {
  -webkit-filter: brightness(130%) sepia(100%) hue-rotate(-220deg) saturate(800%) contrast(0.8);
          filter: brightness(130%) sepia(100%) hue-rotate(-220deg) saturate(800%) contrast(0.8);
}

.cover:before {
  content: "";
  position: absolute;
  top: 130px;
  left: 130px;
  height: 40px;
  width: 40px;
  opacity: 0;
  background-image: url(images/icon-view.svg);
  background-size: 100% 100%;
}

.cover:hover:before {
  opacity: 1;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 30px auto auto 25px;
}

p {
  font-weight: 300;
  margin: 10px auto 0 25px;
}

.lowertext {
  margin: 30px auto 0 25px;
  font-size: 15px;
  color: #00fff7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.eth {
  margin-right: 8px;
}

.days {
  color: #8bacda;
  margin: auto auto 0 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.time {
  margin-right: 8px;
}

hr {
  border: 1px solid #2f415b;
  margin: 25px 25px 0 25px;
}

.createdby {
  margin: 15px 0 20px 25px;
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jwimg {
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.jwname {
  color: white;
  padding-left: 3px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 5px;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=styles.css.map */