@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: $bgColor;
    color: $softBlue;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: $white;
    text-decoration: none;
}

a:hover {
    color: $cyan;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card {
    background-color: $cardColor;
    max-height: auto;
    max-width: 345px;
    border-radius: 10px;
    box-shadow: 0 0 30px hsla(0, 0%, 0%, 0.2);
}


// top img styles 

.cover {
    position: relative;
    background-image: url(images/image-equilibrium.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    width: auto;
    max-width: 300px;
    height: 300px;
    margin: 25px auto 0 auto;  
    cursor: pointer;
}

.cover:hover {
    filter: brightness(130%) sepia(100%) 
    hue-rotate(-220deg) saturate(800%) 
    contrast(0.8);
}

.cover:before {
    content: "";
    position: absolute;
    top: 130px;
    left: 130px;
    height: 40px;
    width: 40px;
    opacity: 0;
    background-image: url(images/icon-view.svg);
    background-size: 100% 100%;
}

.cover:hover:before {
    opacity: 1;
  }

  // text under img

.title {
    color: $white;
    font-size: 20px;
    font-weight: 600;
    margin: 25px auto auto 25px;   
}

p {
    font-weight: 300;
    margin: 30px auto 0 25px;   
}

.lowertext {
    margin: 30px auto 0 25px;
    font-size: 15px;
    color: $cyan;
    display: flex;
    flex-direction: row;
}

.eth {
    margin-right: 8px;
}

.days {
    color: $softBlue;
    margin: auto auto 0 115px;
    display: flex;
    flex-direction: row;
}

.time {
    margin-right: 8px;
}

hr {
    border: 1px solid $lineColor;
    margin: 25px 25px 0 25px;
}

// text after line

.createdby {
    margin: 30px 0 20px 25px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.jwimg {
    height: 30px;
    width: 30px;
    margin-right: 15px;
    border: 1px solid $white;
    border-radius: 50px;
}

.jwname {
    color: $white;
    padding-left: 3px;
}

// footer

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-bottom: 5px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}